:root{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #242424;
}
#root{
  width: 100%;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 30px 50px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px;
  width: 100%;
}
.cards .card{
  border: 1px solid gray;
  width: calc(50% - 15px);
  padding: 20px;
  border-radius: 10px;
}
.cards .card .cardTitle{
  font-size: 20px;
  color: brown;
}

.filterColumn{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
}
.filterColumn label{
  color: #242424;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.filterColumn select{
  height: 35px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
  outline: 0;
}
.filterColumn select option{
  font-weight: 600;
}

.country{
  padding: 20px 0 30px;
  border-bottom: 1px solid rgb(219, 215, 215);
  width: 100%;
}
.headColumn{
  display: flex;
  align-items: flex-end;
  background: #dabe72;
  padding: 20px 30px;
  border-radius: 20px;
}
.headColumn h2{
  margin: 0;
}